<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>\
    <style>
        #content img {
            max-width:100%;
        }
    </style>
</head>
<body>
        <div class="container">
            <header>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="navbar-brand">
                                <a href="~/Home/Index" style="color:#fff;text-decoration:none">Blog Space</a>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @{
                                        var UserName = Session["User"] == null ? string.Empty : ((User)Session["User"]).UserName;
                                    }
                                    <a href="/User/Index">@UserName</a>
                                </li>
                                <li>
                                    @if (Session["User"] == null)
                                    {
                                        <a href="~/Account/Login">Login</a>
                                    }
                                    else
                                    {
                                        <a href="~/Account/Logoff">Logoff</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <h2 class="page-header">@ViewBag.Title</h2>
            <div>
                @RenderBody()
            </div>
            <footer>
                <nav class="navbar-default navbar-fixed-bottom text-center">
                    &copy; @DateTime.Now.Year
                </nav>
            </footer>
        </div>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>

</body>
</html>
